@for $i from 1 to 4 {
  .card-#{$i} {
    @if card-#{$i} == 'card-1' {
        background-color: $bright-orange;
        border-radius: 10px 10px 0 0;
        a {
            color: $bright-orange;
        }
        @include respond-to('large') {
            border-radius: 10px 0 0 10px;
        }
    }
    @if card-#{$i} == 'card-2' {
        background-color: $dark-cyan;
        a {
            color: $dark-cyan;
        }
    }
    @if card-#{$i} == 'card-3' {
        background-color: $very-dark-cyan;
        border-radius: 0 0 10px 10px;
        a {
            color: $very-dark-cyan;
        }
        @include respond-to('large') {
            border-radius: 0 10px 10px 0;
        }
    }
    padding: 40px;
    h3 {
        color: $very-light-gray;
        font-family: $text-font-big-shoulders;
        font-size: 40px;
        text-transform: uppercase;
    }
    p {
        color: $transparent-white;
        line-height: 30px;
        margin-bottom: 35px;
    }
  }
}